/* #country{
    text-align: center;
} */

.country-title {
  font-size: 50px;
  color: brown;
  text-align: center;
}
.country-details {
  display: flex;
  width: 60%;
}

.country-wrapper {
  width: 40%;
}

.img-wrapper {
  width: 50%;
}
.background {
  background-image: url(images/bg.png);
  background-repeat: repeat;
}

.title {
  display: inline-block;
  margin-right: 5px;
}
